@import '/src/assets/vars';

.home {
  padding-top: 5rem;

  &__title {
    color: $c-alto;
    display: flex;
    font-size: 1.2rem !important;
    margin-bottom: 3rem !important;
    overflow: hidden;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
